.events-section {
    padding: 35px 0
}

@media only screen and (max-width: 767px) {
    .events-section {
        padding:20px 0
    }
}

.events-header {
    display: flex;
    align-items: center;
    margin-bottom: 35px
}

@media only screen and (max-width: 991px) {
    .events-header {
        flex-wrap:wrap
    }
}

@media only screen and (max-width: 767px) {
    .events-header {
        margin-bottom:45px
    }
}

.events-header .section-title {
    margin-right: 30px
}

@media only screen and (max-width: 767px) {
    .events-header .section-title {
        margin-right:25px
    }
}

.events-header .dropdown {
    margin-right: 30px
}

.section-title {
    display: block;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .07em
}

@media only screen and (max-width: 767px) {
    .section-title {
        font-size:24px;
        line-height: 27px;
        letter-spacing: .05em
    }
}

.dropdown {
    position: relative;
    font-weight: 300
}

.dropdown.cities-dropdown>div i {
    display: none
}

.dropdown>div {
    display: flex;
    align-items: center;
    cursor: pointer
}

.dropdown>div span {
    text-transform: uppercase;
    position: relative;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: .05em
}

.dropdown>div span:after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #abbdce;
    transition: .2s linear
}

.dropdown>div i {
    margin-left: 9px;
    width: 24px;
    height: 24px;
    content: "";
    position: relative
}

.dropdown>div i:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    transform: translate(-50%,-75%) rotate(-45deg);
    border: 2px solid #abbdce;
    border-top: none;
    border-right: none;
    left: 50%;
    top: 50%
}

@media only screen and (max-width: 767px) {
    .dropdown>div i:before {
        width:14px;
        height: 14px
    }
}

.dropdown>ul {
    display: none;
    position: absolute
}

.search-form {
    width: 546px;
    height: 38px;
    background: #fafafa;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 6px 9px;
    font-weight: 300
}

@media only screen and (max-width: 991px) {
    .search-form {
        width:100%;
        margin-top: 20px
    }
}

.search-form button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 25px;
    height: 25px
}

.search-form button svg g rect {
    transition: .2s linear
}

.search-form button:hover svg g rect {
    fill: #abbdce
}

.search-form input {
    border: none;
    background-color: transparent;
    width: calc(100% - 25px);
    font-size: 19px;
    letter-spacing: .05em;
    padding: 0 13px;
    line-height: 1
}

.search-form input::-moz-placeholder {
    color: #000;
    font-weight: 300
}

.search-form input:-ms-input-placeholder {
    color: #000;
    font-weight: 300
}

.search-form input::placeholder {
    color: #000;
    font-weight: 300
}

.search-form input:focus::-moz-placeholder {
    color: transparent
}

.search-form input:focus:-ms-input-placeholder {
    color: transparent
}

.search-form input:focus::placeholder {
    color: transparent
}

.top-event__wrapper {
    width: calc(100% - 60px);
    margin: 0 auto 25px
}

@media only screen and (max-width: 991px) {
    .top-event__wrapper {
        width:100%
    }
}

@media only screen and (max-width: 767px) {
    .top-event__wrapper {
        margin-bottom:20px
    }
}

.events-wrapper {
    margin-bottom: 75px
}

@media only screen and (max-width: 767px) {
    .events-wrapper {
        margin-bottom:30px
    }
}

.events-wrapper .events-title:first-child {
    margin-top: 0
}

.events-title {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .07em;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 30px
}

@media only screen and (max-width: 767px) {
    .events-title {
        margin-left:0;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: .05em
    }
}

.events-title:after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #abbdce;
    transition: .2s linear
}

.event-item {
    display: flex;
    align-items: center;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin-bottom: -1px;
    padding: 19px 65px;
    position: relative;
    transition: .2s linear;
    color: #000
}

@media only screen and (max-width: 991px) {
    .event-item {
        padding:19px 36px
    }
}

@media only screen and (max-width: 767px) {
    .event-item {
        padding:14px 24px
    }
}

@media only screen and (max-width: 399px) {
    .event-item {
        padding:10px 14px
    }
}

.event-item:focus,.event-item:hover {
    text-decoration: none;
    color: #000
}

.event-item:hover {
    z-index: 1;
    border-color: #abbdce
}

.event-item.top-item {
    border: 2px solid #abbdce;
    border-radius: 10px;
    padding-left: 33px;
    padding-right: 33px;
    background: #fafafa;
    margin-bottom: 20px
}

@media only screen and (max-width: 767px) {
    .event-item.top-item {
        padding-left:22px;
        padding-right: 22px
    }
}

@media only screen and (max-width: 399px) {
    .event-item.top-item {
        padding-left:12px;
        padding-right: 12px
    }
}

.event-item+.events-title {
    margin-top: 75px
}

.event-pic {
    width: 105px
}

@media only screen and (max-width: 767px) {
    .event-pic {
        width:80px
    }
}

@media only screen and (max-width: 399px) {
    .event-pic {
        width:70px
    }
}

.event-pic>picture {
    display: flex;
    width: 58px;
    height: 58px;
    border-radius: 7px;
    overflow: hidden;
    border: 2px solid #abbdce
}

.event-pic>picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.event-info {
    display: flex;
    align-items: center;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: .05em;
    width: calc(100% - 105px);
    text-transform: uppercase
}

@media only screen and (max-width: 767px) {
    .event-info {
        width:calc(100% - 80px);
        flex-wrap: wrap;
        font-size: 20px;
        line-height: 23px
    }
}

@media only screen and (max-width: 399px) {
    .event-info {
        width:calc(100% - 70px)
    }
}

.event-info small {
    font-size: 17px;
    line-height: 20px;
    font-weight: 300
}

@media only screen and (max-width: 767px) {
    .event-info small {
        font-size:14px;
        line-height: 16px
    }
}

@media only screen and (max-width: 991px) {
    .event-info .btn {
        min-width:130px
    }
}

@media only screen and (max-width: 399px) {
    .event-info .btn {
        width:110px;
        min-width: 110px
    }
}

.event-date {
    width: 30%
}

@media only screen and (max-width: 1199px) {
    .event-date {
        width:20%;
        min-width: 20%
    }
}

@media only screen and (max-width: 767px) {
    .event-date {
        width:40%;
        margin-bottom: 12px
    }
}

@media only screen and (max-width: 399px) {
    .event-date {
        width:42%
    }
}

.event-date small {
    display: block
}

.event-place {
    width: 30%
}

@media only screen and (max-width: 1199px) {
    .event-place {
        width:40%;
        min-width: 40%
    }
}

@media only screen and (max-width: 991px) {
    .event-place {
        width:32%;
        min-width: 32%
    }
}

@media only screen and (max-width: 767px) {
    .event-place {
        width:60%;
        margin-bottom: 12px
    }
}

@media only screen and (max-width: 399px) {
    .event-place {
        width:58%
    }
}

.event-place span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block
}

.event-place small {
    display: block
}

.event-price {
    width: 30%
}

@media only screen and (max-width: 1199px) {
    .event-price {
        width:20%;
        min-width: 20%
    }
}

@media only screen and (max-width: 991px) {
    .event-price {
        width:28%;
        min-width: 28%
    }
}

@media only screen and (max-width: 767px) {
    .event-price {
        width:40%
    }
}

@media only screen and (max-width: 399px) {
    .event-price {
        width:42%
    }
}

.event-price small {
    display: block
}

.nothing-found {
    text-transform: uppercase;
    text-align: center
}

.consult-section {
    margin-bottom: 55px
}

@media only screen and (max-width: 767px) {
    .consult-section {
        margin-bottom:50px
    }
}

.consult-wrapper {
    width: calc(100% - 60px);
    margin: 0 auto;
    border: 2px solid #abbdce;
    border-radius: 10px;
    padding: 50px
}

@media only screen and (max-width: 991px) {
    .consult-wrapper {
        width:100%
    }
}

@media only screen and (max-width: 767px) {
    .consult-wrapper {
        padding:20px 20px 15px;
        border-radius: 6px
    }
}

.consult-title {
    display: block;
    max-width: 600px;
    margin: 0 auto 45px;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase
}

@media only screen and (max-width: 767px) {
    .consult-title {
        font-size:16px;
        line-height: 18px;
        margin-bottom: 18px
    }
}

.consult-form {
    width: 325px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center
}

@media only screen and (max-width: 480px) {
    .consult-form {
        width:270px
    }
}

.consult-form .input-wrapper {
    margin-bottom: 23px
}

@media only screen and (max-width: 767px) {
    .consult-form .input-wrapper {
        margin-bottom:10px
    }
}

.consult-form .input {
    text-align: center
}

.consult-form .btn {
    margin: 43px auto 0
}

@media only screen and (max-width: 767px) {
    .consult-form .btn {
        margin-top:15px
    }
}

.about-section {
    padding-bottom: 115px
}

@media only screen and (max-width: 767px) {
    .about-section {
        padding-bottom:45px
    }
}

.about-section .section-title {
    margin-bottom: 55px
}

@media only screen and (max-width: 767px) {
    .about-section .section-title {
        margin-bottom:18px;
        font-size: 20px;
        line-height: 23px
    }
}

.about-wrapper {
    width: calc(100% - 60px);
    margin: 0 auto
}

@media only screen and (max-width: 991px) {
    .about-wrapper {
        width:100%
    }
}

.about-text {
    font-size: 19px;
    line-height: 21px;
    letter-spacing: .05em;
    width: calc(100% - 60px);
    margin: 0 auto 55px;
    font-weight: 300
}

@media only screen and (max-width: 991px) {
    .about-text {
        width:calc(100% - 36px)
    }
}

@media only screen and (max-width: 767px) {
    .about-text {
        font-size:14px;
        line-height: 16px
    }
}

@media only screen and (max-width: 399px) {
    .about-text {
        width:100%
    }
}

.about-text p {
    text-indent: 1.5em;
    margin-bottom: 20px
}

.about-text ul {
    list-style-type: disc
}

.about-text ol,.about-text ul {
    padding-left: 18px;
    margin-bottom: 20px
}

.about-text ol {
    list-style-type: decimal
}

.iframe-wrapper {
    width: calc(100% - 60px);
    margin: 0 auto;
    position: relative;
    padding-bottom: 56%;
    border-radius: 10px;
    overflow: hidden
}

@media only screen and (max-width: 991px) {
    .iframe-wrapper {
        width:calc(100% - 36px)
    }
}

@media only screen and (max-width: 399px) {
    .iframe-wrapper {
        width:100%
    }
}

.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.txt-section {
    padding-bottom: 115px
}

@media only screen and (max-width: 767px) {
    .txt-section {
        padding-bottom:45px
    }
}

.txt-wrapper {
    padding-top: 30px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .05em;
    border-top: 2px solid #abbdce;
    font-weight: 300;
    width: calc(100% - 60px);
    max-width: 100%;
    margin: 0 auto
}

@media only screen and (max-width: 991px) {
    .txt-wrapper {
        width:100%
    }
}

@media only screen and (max-width: 767px) {
    .txt-wrapper {
        font-size:14px;
        line-height: 16px
    }
}

.txt-wrapper h1,.txt-wrapper h2,.txt-wrapper h3 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    letter-spacing: .07em;
    text-transform: uppercase
}

@media only screen and (max-width: 767px) {
    .txt-wrapper h1,.txt-wrapper h2,.txt-wrapper h3 {
        font-size:20px;
        line-height: 24px;
        margin-bottom: 25px
    }
}

.txt-wrapper p {
    margin-bottom: 21px
}

.txt-wrapper ul {
    list-style-type: disc
}

.txt-wrapper ol,.txt-wrapper ul {
    padding-left: 18px;
    margin-bottom: 21px
}

.txt-wrapper ol {
    list-style-type: decimal
}

.footer-top {
    background-color: #000;
    color: #fff;
    height: 76px;
    padding: 22px 0
}

@media only screen and (max-width: 767px) {
    .footer-top {
        height:auto;
        padding: 14px 0
    }
}

.footer-top .row {
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .footer-top .row {
        padding:0 18px
    }
}

@media only screen and (max-width: 399px) {
    .footer-top .row {
        padding:0
    }
}

.footer-top .row>span {
    color: #8a8a8a;
    font-weight: 100;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: .05em
}

.footer-socials,.footer-socials li {
    display: flex;
    align-items: center
}

.footer-socials li {
    margin-left: 15px
}

@media only screen and (max-width: 767px) {
    .footer-socials li {
        margin-left:9px
    }
}

.footer-socials li a {
    display: flex;
    text-decoration: none;
    transition: .2s linear
}

.footer-socials li a:hover {
    text-decoration: none;
    opacity: .5
}

.footer-socials li a svg.vk {
    width: 41px
}

@media only screen and (max-width: 767px) {
    .footer-socials li a svg.vk {
        height:27px;
        width: 26px
    }
}

@media only screen and (max-width: 767px) {
    .footer-socials li a svg.in {
        height:21px;
        width: 20px
    }
}

.footer-socials li a svg.yt {
    width: 36px
}

@media only screen and (max-width: 767px) {
    .footer-socials li a svg.yt {
        height:24px;
        width: 24px
    }
}

.footer-bot {
    height: 66px;
    background-color: #fff;
    padding: 20px 0
}

@media only screen and (max-width: 991px) {
    .footer-bot {
        padding:10px 0
    }
}

@media only screen and (max-width: 767px) {
    .footer-bot {
        height:auto;
        padding: 24px 0 38px
    }
}

.footer-bot .row {
    display: flex;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .footer-bot .row {
        flex-direction:column
    }
}

@media only screen and (max-width: 991px) {
    .footer-bot .header-menu {
        font-size:18px;
        line-height: 21px
    }
}

@media only screen and (max-width: 767px) {
    .footer-bot .header-menu {
        display:flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 21px
    }
}

@media only screen and (max-width: 767px) {
    .footer-bot .header-menu li {
        margin-top:19px
    }
}

.concert-main {
    position: relative
}

.concert-main .banner>picture {
    display: block;
    width: 100%
}

.concert-main .banner>picture:before {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,transparent 0,#000);
    content: "";
    display: none;
    position: absolute;
    left: 0;
    top: 0
}

@media only screen and (max-width: 767px) {
    .concert-main .banner>picture:before {
        display:block
    }
}

.concert-main .banner>picture img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.concert-main .container {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 290px
}

.concert-main .row {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .concert-main .row {
        justify-content:center;
        align-items: flex-end;
        padding-bottom: 20px
    }
}

.concert-main+.concert-artist {
    margin-top: 20px
}

.concert-main__info {
    text-transform: uppercase;
    color: #fff
}

@media only screen and (max-width: 767px) {
    .concert-main__info {
        text-align:center
    }
}

.concert-main__info .btn {
    width: 160px
}

@media only screen and (max-width: 767px) {
    .concert-main__info .btn {
        width:134px;
        margin: 15px auto 0;
        height: 42px
    }
}

.concert-main__title {
    display: block;
    font-weight: 400;
    font-size: 38px;
    line-height: 43px;
    letter-spacing: .05em;
    margin-bottom: 27px
}

@media only screen and (max-width: 767px) {
    .concert-main__title {
        display:none
    }
}

.concert-main__place {
    display: inline-block;
    padding: 7px 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: .05em;
    border: 2px solid #abbdce;
    border-radius: 6px;
    margin-bottom: 28px
}

@media only screen and (max-width: 767px) {
    .concert-main__place {
        display:none
    }
}

.concert-main__place-mob {
    display: none;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    letter-spacing: .05em
}

@media only screen and (max-width: 767px) {
    .concert-main__place-mob {
        display:block
    }
}

.concert-scheme {
    padding: 45px 0
}

@media only screen and (max-width: 767px) {
    .concert-scheme {
        display:none;
        height: 100vh;
        position: fixed;
        z-index: 100;
        top: 0;
        background: #fff;
        padding: 0;
        width: 100%
    }
}

.concert-scheme .section-title {
    margin-bottom: 45px
}

@media only screen and (max-width: 767px) {
    .concert-scheme .section-title {
        display:none
    }
}

@media only screen and (max-width: 767px) {
    .concert-scheme .container {
        padding:0
    }
}

.concert-scheme__header {
    display: none;
    height: 50px;
    line-height: 50px;
    background-color: #abbdce;
    color: #fff;
    font-size: 24px;
    letter-spacing: .05em;
    position: relative;
    padding: 0 15px;
    text-transform: uppercase
}

@media only screen and (max-width: 767px) {
    .concert-scheme__header {
        display:block
    }
}

.concert-scheme__close {
    position: absolute;
    right: 15px;
    font-size: 50px;
    line-height: 1;
    top: -2px
}

.concert-scheme__wrapper {
    width: calc(100% - 60px);
    margin: 0 auto
}

@media only screen and (max-width: 991px) {
    .concert-scheme__wrapper {
        width:100%
    }
}

@media only screen and (max-width: 767px) {
    .concert-scheme__wrapper {
        height:calc(100% - 50px);
        overflow: auto
    }
}

.concert-artist {
    position: relative;
    height: 875px
}

@media only screen and (max-width: 767px) {
    .concert-artist {
        margin-top:20px;
        height: auto
    }
}

.concert-artist>picture {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.concert-artist>picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.concert-artist .container {
    height: 100%
}

.concert-artist .row {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 158px 0
}

@media only screen and (max-width: 767px) {
    .concert-artist .row {
        padding:48px 0
    }
}

.concert-artist__wrapper {
    background: rgba(0,0,0,.68);
    border-radius: 4px;
    width: calc(100% - 60px);
    margin: 0 auto;
    color: #fff;
    padding: 110px 30px 75px
}

@media only screen and (max-width: 991px) {
    .concert-artist__wrapper {
        width:100%
    }
}

@media only screen and (max-width: 767px) {
    .concert-artist__wrapper {
        padding:15px 20px
    }
}

.concert-artist__title {
    display: block;
    text-align: center;
    margin-bottom: 85px;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: .05em
}

@media only screen and (max-width: 767px) {
    .concert-artist__title {
        font-size:18px;
        line-height: 21px;
        margin-bottom: 13px
    }
}

.concert-artist__inner {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .05em;
    width: calc(100% - 60px);
    margin: 0 auto 40px;
    font-weight: 300
}

@media only screen and (max-width: 991px) {
    .concert-artist__inner {
        width:100%
    }
}

@media only screen and (max-width: 767px) {
    .concert-artist__inner {
        font-size:14px;
        line-height: 16px;
        letter-spacing: .05em;
        margin: 0 auto
    }
}

.concert-artist__inner p {
    text-indent: 1.5em;
    margin-bottom: 20px
}

.concert-artist__inner ul {
    padding-left: 18px;
    list-style-type: disc;
    margin-bottom: 20px
}

.concert-artist__inner ol {
    padding-left: 18px;
    list-style-type: decimal;
    margin-bottom: 20px
}

.concert-place {
    padding: 50px 0 115px
}

@media only screen and (max-width: 767px) {
    .concert-place {
        padding:25px 0 35px
    }
}

.concert-place .section-title {
    margin-bottom: 50px;
    width: 100%
}

@media only screen and (max-width: 767px) {
    .concert-place .section-title {
        margin-bottom:22px;
        font-size: 20px;
        line-height: 23px
    }
}

.concert-place+.consult-section {
    margin-bottom: 115px
}

@media only screen and (max-width: 767px) {
    .concert-place+.consult-section {
        margin-bottom:45px
    }
}

.concert-place__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 60px);
    margin: 0 auto
}

@media only screen and (max-width: 991px) {
    .concert-place__wrapper {
        width:100%
    }
}

@media only screen and (max-width: 767px) {
    .concert-place__wrapper {
        display:block
    }
}

.concert-place__wrapper .btn {
    display: none
}

@media only screen and (max-width: 767px) {
    .concert-place__wrapper .btn {
        display:flex;
        width: 134px;
        margin: 35px auto;
        float: left;
        height: 42px;
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%)
    }
}

.concert-place__pic {
    width: 49%;
    filter: grayscale(1);
    display: flex;
    flex-direction: column;
    align-self: flex-start
}

@media only screen and (max-width: 767px) {
    .concert-place__pic {
        display:none
    }
}

.concert-place__pic picture {
    display: block;
    border-radius: 6px;
    overflow: hidden;
    width: 100%
}

.concert-place__pic picture img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.concert-place__pic .slider {
    margin-bottom: 30px
}

.concert-place__pic .slider .slick-slide {
    height: 450px
}

@media (max-width: 1449px) {
    .concert-place__pic .slider .slick-slide {
        height:450px
    }
}

@media (max-width: 1249px) {
    .concert-place__pic .slider .slick-slide {
        height:400px
    }
}

@media (max-width: 1199px) {
    .concert-place__pic .slider .slick-slide {
        height:325px
    }
}

@media (max-width: 991px) {
    .concert-place__pic .slider .slick-slide {
        height:250px
    }
}

@media (max-width: 767px) {
    .concert-place__pic .slider .slick-slide {
        height:auto
    }
}

.concert-place__pic .slider .slick-slide div {
    height: inherit
}

.concert-place__pic .slider .slick-slide div picture {
    height: 100%;
    width: 100%
}

.concert-place__pic .slider .slick-slide div picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.concert-place__pic .slick-nav {
    max-height: 98px
}

.concert-place__pic .slick-nav .slick-slide {
    padding: 0 10px;
    height: auto
}

.concert-place__info {
    width: calc(51% - 40px);
    font-size: 19px;
    line-height: 21px
}

@media only screen and (max-width: 767px) {
    .concert-place__info {
        width:100%;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .05em;
        float: left
    }
}

.concert-place__info>picture {
    display: none;
    border-radius: 4px;
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 5px;
    overflow: hidden
}

@media only screen and (max-width: 767px) {
    .concert-place__info>picture {
        display:block
    }
}

.concert-place__info>picture img {
    filter: grayscale(1);
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.concert-place__info p {
    margin-bottom: 20px;
    font-weight: 300
}

@media only screen and (max-width: 767px) {
    .concert-place__info p {
        margin-bottom:15px
    }
}

.concert-place__info .concert-place__address {
    text-decoration: underline;
    font-weight: 400;
    color: #000
}

.concert-place__info .concert-place__address:hover {
    color: #abbdce
}

.concert-place__title {
    display: block;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase
}

@media only screen and (max-width: 767px) {
    .concert-place__title {
        font-size:18px;
        line-height: 21px;
        margin-bottom: 15px
    }
}

.concert-place__address {
    text-decoration: underline;
    font-weight: 400
}

.contacts-main {
    padding: 50px 0 115px
}

@media only screen and (max-width: 767px) {
    .contacts-main {
        padding:40px 0 60px
    }
}

.contacts-main .section-title {
    margin-top: 0;
    margin-bottom: 80px
}

@media only screen and (max-width: 767px) {
    .contacts-main .section-title {
        margin-bottom:40px
    }
}

.contacts-main__wrapper {
    width: calc(100% - 60px);
    margin: 0 auto 80px;
    display: flex
}

@media only screen and (max-width: 1199px) {
    .contacts-main__wrapper {
        flex-wrap:wrap
    }
}

@media only screen and (max-width: 991px) {
    .contacts-main__wrapper {
        width:calc(100% - 30px)
    }
}

@media only screen and (max-width: 767px) {
    .contacts-main__wrapper {
        flex-direction:column;
        margin-bottom: 40px
    }
}

.contacts-main__wrapper>div {
    width: 33.33333%;
    padding-right: 15px;
    padding-bottom: 30px
}

@media only screen and (max-width: 1199px) {
    .contacts-main__wrapper>div {
        width:50%
    }
}

@media only screen and (max-width: 767px) {
    .contacts-main__wrapper>div {
        width:100%;
        padding-right: 0;
        padding-bottom: 20px
    }
}

.contacts-main__wrapper>div>span {
    display: block;
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: .05em
}

.contacts-main__wrapper>div>ul {
    font-weight: 100;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: .05em
}

.contacts-main__wrapper>div>ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.contacts-main__wrapper>div>ul li>div {
    width: 58px;
    min-width: 58px
}

@media only screen and (max-width: 767px) {
    .contacts-main__wrapper>div>ul li>div {
        width:35px;
        min-width: 35px
    }
}

.contacts-main__wrapper>div>ul li>a {
    color: #000;
    text-decoration: none
}

.contacts-main__wrapper>div>ul li>a:hover {
    color: #abbdce;
    text-decoration: none
}

.contacts-main__wrapper>div>ul li>a:focus {
    text-decoration: none
}

.artists-main {
    padding: 50px 0 115px
}

@media only screen and (max-width: 767px) {
    .artists-main {
        padding:40px 0 60px
    }
}

.artists-main .section-title {
    margin-top: 0;
    margin-bottom: 50px
}

@media only screen and (max-width: 767px) {
    .artists-main .section-title {
        margin-bottom:30px
    }
}

.artists-main__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 60px);
    margin: 0 auto 30px
}

@media only screen and (max-width: 991px) {
    .artists-main__wrapper {
        width:auto;
        flex: 1 0 auto
    }
}

.artist-item {
    width: 25%;
    padding: 0 12px;
    margin-bottom: 50px;
    max-width: 284px;
    min-width: 284px
}

@media only screen and (max-width: 991px) {
    .artist-item {
        width:33.3333%;
        max-width: 240px;
        min-width: 240px
    }
}

@media only screen and (max-width: 767px) {
    .artist-item {
        width:50%;
        min-width: unset;
        max-width: unset;
        padding: 0 7px;
        margin-bottom: 18px
    }
}

.artist-item>a {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 100%
}

.artist-item>a,.artist-item>a:hover {
    text-decoration: none
}

.artist-item>a:hover .artist-info {
    color: #fff;
    background-color: #abbdce
}

.artist-item>a:focus {
    text-decoration: none
}

.artist-pic {
    width: 100%;
    height: 260px;
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden
}

@media only screen and (max-width: 991px) {
    .artist-pic {
        height:216px
    }
}

@media only screen and (max-width: 767px) {
    .artist-pic {
        height:calc(50vw - 30px)
    }
}

.artist-pic>picture {
    width: 100%;
    height: 100%
}

.artist-pic>picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.artist-pic .btn {
    height: 34px;
    width: 160px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    color: #fff
}

@media only screen and (max-width: 399px) {
    .artist-pic .btn {
        width:110px;
        min-width: 110px
    }
}

.artist-info {
    text-transform: uppercase;
    height: 48px;
    width: 100%;
    border: 2px solid #abbdce;
    border-top: none;
    border-radius: 0 0 6px 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: .05em;
    font-weight: 300;
    transition: .2s linear
}

@media only screen and (max-width: 767px) {
    .artist-info {
        height:32px;
        font-size: 16px;
        line-height: 18px
    }
}

.nf-section {
    padding: 65px 0;
    text-align: center
}

.nf-section .btn {
    width: 160px;
    margin: 60px auto 0
}

@media only screen and (max-width: 480px) {
    .nf-section .btn {
        margin-top:40px
    }
}

.nf-title {
    color: #abbdce;
    font-size: 300px;
    line-height: 343px;
    letter-spacing: .07em
}

@media only screen and (max-width: 767px) {
    .nf-title {
        font-size:200px;
        line-height: 243px
    }
}

@media only screen and (max-width: 480px) {
    .nf-title {
        font-size:160px;
        line-height: 200px
    }
}

.nf-descr {
    margin-top: 5px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .07em;
    text-transform: uppercase
}

@media only screen and (max-width: 480px) {
    .nf-descr {
        font-size:20px;
        line-height: 24px
    }
}

.location-popup {
    background-color: #fff;
    position: relative;
    width: 910px;
    max-width: calc(100vw - 30px);
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden
}

.location-popup .mfp-close {
    width: 22px;
    height: 22px;
    opacity: 1;
    right: 42px;
    top: 17px;
    padding: 0;
    display: flex;
    cursor: pointer;
    font-size: 0
}

@media only screen and (max-width: 480px) {
    .location-popup .mfp-close {
        right:20px
    }
}

.location-popup .mfp-close:focus {
    top: 17px
}

.location-popup .mfp-close:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 22px;
    height: 22px;
    background: url(/images/close.svg?fc1ca7a432fa7f045ecdd6e816b73ab3) no-repeat
}

.location-popup:after {
    position: absolute;
    content: "";
    z-index: 1002;
    background-color: #fff;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0
}

@media only screen and (max-width: 480px) {
    .location-popup:after {
        height:20px
    }
}

.location-popup__title {
    display: block;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    height: 55px;
    background-color: #abbdce;
    border-radius: 10px 10px 0 0;
    font-size: 24px;
    line-height: 55px;
    color: #000;
    width: 100%
}

.location-popup .cities-scroll {
    position: relative;
    height: calc(100vh - 178px);
    max-height: 532px
}

.location-popup .location-popup__wrapper {
    padding: 20px 40px 60px
}

@media only screen and (max-width: 480px) {
    .location-popup .location-popup__wrapper {
        height:calc(100vh - 90px);
        padding: 20px
    }
}

.location-popup .location-popup__wrapper .ps__rail-y.ps--clicking .ps__thumb-y,.location-popup .location-popup__wrapper .ps__rail-y:focus>.ps__thumb-y,.location-popup .location-popup__wrapper .ps__rail-y:hover>.ps__thumb-y,.location-popup .location-popup__wrapper .ps__thumb-y {
    right: 0!important;
    z-index: 3
}

.location-popup .location-popup__wrapper input {
    width: 100%;
    height: 50px;
    line-height: 48px;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    border-radius: 6px;
    color: #000;
    font-size: 21px!important;
    margin-bottom: 24px;
    padding: 0 24px;
    z-index: 2;
    position: relative;
    text-transform: uppercase
}

.location-popup .location-popup__wrapper input:invalid {
    border-color: red
}

@media only screen and (max-width: 480px) {
    .location-popup .location-popup__wrapper input {
        font-size:14px!important;
        height: 40px;
        line-height: 38px;
        padding: 0 15px;
        margin-bottom: 20px
    }
}

.location-popup .location-popup__wrapper input::-moz-placeholder {
    color: #adadad
}

.location-popup .location-popup__wrapper input:-ms-input-placeholder {
    color: #adadad
}

.location-popup .location-popup__wrapper input::placeholder {
    color: #adadad
}

.location-popup .location-popup__wrapper input:focus::-moz-placeholder {
    opacity: 0
}

.location-popup .location-popup__wrapper input:focus:-ms-input-placeholder {
    opacity: 0
}

.location-popup .location-popup__wrapper input:focus::placeholder {
    opacity: 0
}

.location-popup .location-popup__wrapper>ul {
    -moz-column-count: 4;
    column-count: 4;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #000;
    z-index: 1001;
    background: #fff
}

.location-popup .location-popup__wrapper>ul.active {
    display: none
}

@media only screen and (max-width: 991px) {
    .location-popup .location-popup__wrapper>ul {
        -moz-column-count:3;
        column-count: 3
    }
}

@media only screen and (max-width: 480px) {
    .location-popup .location-popup__wrapper>ul {
        font-size:16px;
        -moz-column-count: 2;
        column-count: 2;
        width: 100%
    }
}

.location-popup .location-popup__wrapper>ul li {
    cursor: pointer
}

.location-popup .location-popup__wrapper>ul li.main {
    display: list-item;
    padding-top: 0
}

.location-popup .location-popup__wrapper>ul li.main a {
    font-weight: 700;
    color: #000
}

.location-popup .location-popup__wrapper>ul li:first-child {
    margin-top: 0
}

.location-popup .location-popup__wrapper>ul li a {
    color: #000;
    text-decoration: none
}

.location-popup .location-popup__wrapper>ul li a:hover {
    text-decoration: none
}

.location-popup .location-popup__wrapper>ul li span {
    font-weight: 700;
    color: #abbdce
}

.xdsoft_autocomplete {
    width: 100%!important
}

.xdsoft_autocomplete_dropdown {
    display: block!important;
    flex-wrap: wrap;
    top: 76px!important;
    border: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-column-count: 4;
    column-count: 4
}

.xdsoft_autocomplete_dropdown.active {
    display: none!important
}

@media only screen and (max-width: 991px) {
    .xdsoft_autocomplete_dropdown {
        -moz-column-count:3;
        column-count: 3
    }
}

@media only screen and (max-width: 480px) {
    .xdsoft_autocomplete_dropdown {
        -moz-column-count:2;
        column-count: 2;
        top: 60px!important
    }
}

.xdsoft_autocomplete_dropdown>div {
    list-style-type: none;
    font-size: 21px!important;
    line-height: 24px!important;
    color: #000!important;
    padding: 0!important;
    display: list-item!important;
    white-space: normal!important;
    text-decoration: none;
    text-transform: uppercase
}

.xdsoft_autocomplete_dropdown>div:hover {
    text-decoration: none
}

@media only screen and (max-width: 480px) {
    .xdsoft_autocomplete_dropdown>div {
        font-size:16px!important
    }
}

.xdsoft_autocomplete_dropdown>div.active {
    background-color: #fff!important;
    color: #000!important
}

.xdsoft_autocomplete_dropdown>div b {
    color: #abbdce;
    font-weight: 400
}

.xdsoft_autocomplete_dropdown>a {
    list-style-type: none;
    font-size: 21px!important;
    line-height: 24px!important;
    color: #000!important;
    padding: 0!important;
    display: list-item!important;
    white-space: normal!important;
    text-decoration: none;
    text-transform: uppercase
}

.xdsoft_autocomplete_dropdown>a:hover {
    text-decoration: none
}

@media only screen and (max-width: 480px) {
    .xdsoft_autocomplete_dropdown>a {
        font-size:16px!important
    }
}

.xdsoft_autocomplete_dropdown>a.active {
    background-color: #fff!important;
    color: #000!important
}

.xdsoft_autocomplete_dropdown>a b {
    color: #abbdce;
    font-weight: 400
}

.ps .ps__rail-x.ps--clicking,.ps .ps__rail-x:focus,.ps .ps__rail-x:hover,.ps .ps__rail-y.ps--clicking,.ps .ps__rail-y:focus,.ps .ps__rail-y:hover {
    opacity: 1;
    background-color: transparent
}

.ps__thumb-x {
    height: 3px;
    cursor: pointer
}

.ps__rail-x,.ps__thumb-x {
    background: #abbdce;
    border-radius: 0
}

.ps__rail-x {
    top: auto!important;
    height: 9px
}

.ps__thumb-y {
    width: 3px;
    cursor: pointer
}

.ps__rail-y,.ps__thumb-y {
    background: #abbdce;
    border-radius: 0;
    opacity: 1
}

.ps__rail-y {
    left: auto!important;
    width: 9px
}

.ps--focus>.ps__rail-x,.ps--focus>.ps__rail-y,.ps--scrolling-x>.ps__rail-x,.ps--scrolling-y>.ps__rail-y,.ps:hover>.ps__rail-x,.ps:hover>.ps__rail-y {
    opacity: 1
}

.ps__rail-y.ps--clicking .ps__thumb-y,.ps__rail-y:focus>.ps__thumb-y,.ps__rail-y:hover>.ps__thumb-y {
    width: 7px;
    background: #abbdce;
    opacity: 1
}

.ps__rail-x.ps--clicking .ps__thumb-x,.ps__rail-x:focus>.ps__thumb-x,.ps__rail-x:hover>.ps__thumb-x {
    height: 7px;
    background: #abbdce
}

.alert-popup {
    width: 400px;
    max-width: calc(100vw - 30px);
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden
}

.alert-popup__head {
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 26px;
    letter-spacing: .05em;
    text-transform: uppercase;
    background-color: #abbdce;
    color: #fff;
    width: 100%;
    position: relative
}

@media only screen and (max-width: 480px) {
    .alert-popup__head {
        height:60px;
        line-height: 60px;
        text-align: center;
        font-size: 28px
    }
}

.alert-popup__head .mfp-close {
    width: 22px;
    height: 22px;
    opacity: 1;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0;
    position: absolute
}

@media only screen and (max-width: 480px) {
    .alert-popup__head .mfp-close {
        right:20px
    }
}

.alert-popup__head .mfp-close:focus {
    top: 30px
}

.alert-popup__head .mfp-close:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 22px;
    height: 22px;
    background: url(/images/close.svg?fc1ca7a432fa7f045ecdd6e816b73ab3) no-repeat 50%
}

.alert-popup__body {
    width: 100%;
    background: #fff;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: .05em;
    text-transform: uppercase
}

@media only screen and (max-width: 480px) {
    .alert-popup__body {
        padding:30px 20px 40px;
        font-size: 20px;
        line-height: 24px
    }
}

.alert-popup__body a {
    color: inherit
}

.js_mfp-close {
    margin: 20px auto 0
}

#thanks-popup .alert-popup__body {
    padding: 25px 35px
}

#thanks-popup .mfp-close {
    display: none
}

.content-page {
    padding: 60px 0
}

.content-page .section-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px
}

@media only screen and (max-width: 767px) {
    .content-page {
        padding:40px 0
    }
}

.content-text {
    width: calc(100% - 120px);
    margin: 0 auto;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: .05em;
    font-weight: 300
}

@media only screen and (max-width: 1199px) {
    .content-text {
        width:calc(100% - 60px)
    }
}

@media only screen and (max-width: 991px) {
    .content-text {
        width:calc(100% - 36px)
    }
}

@media only screen and (max-width: 767px) {
    .content-text {
        font-size:16px;
        line-height: 18px
    }
}

@media only screen and (max-width: 399px) {
    .content-text {
        width:100%
    }
}

.content-text p,.content-text ul {
    margin-bottom: 20px
}

.content-text ul li {
    margin-bottom: 10px
}

.content-text ul li:before {
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #abbdce
}

.content-text ol {
    padding-left: 18px;
    list-style-type: decimal;
    margin-bottom: 20px
}

.content-text ol li {
    margin-bottom: 10px
}

.content-text h2,.content-text h3,.content-text h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .07em
}

@media only screen and (max-width: 767px) {
    .content-text h2,.content-text h3,.content-text h4 {
        font-size:24px;
        line-height: 27px;
        letter-spacing: .05em
    }
}

.content-text h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .07em
}

@media only screen and (max-width: 767px) {
    .content-text h4 {
        font-size:16px;
        line-height: 20px;
        letter-spacing: .05em
    }
}

.content-text a {
    color: #3d3d3d;
    text-decoration: underline
}

.content-text a:hover {
    color: #abbdce;
    text-decoration: none
}

.content-text a:focus {
    text-decoration: none
}

.content-text .content-info {
    position: relative;
    padding: 25px 25px 25px 80px;
    border: 3px solid #abbdce;
    margin-bottom: 30px
}

.content-text .content-info svg {
    position: absolute;
    top: 25px;
    left: 25px
}

.content-text .content-data a {
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px
}
